!.gitkeep
.idea/
.gtm/
.sass-cache
.DS_Store
node_modules/*
!node_modules/generator-ejsbemplate/
node_modules/generator-ejsbemplate/node_modules/
!node_modules/generator-ejspageplate/
node_modules/generator-ejspageplate/node_modules/
public/
guide/
