<%
// text-list/_text-list.ejs
// A main HTML file of "text-list" component
//
  const Block = 'text-list';
  const EjsRoot = '../../';
  if (typeof textListParams === 'undefined') { textListParams = {}; }
  const params = textListParams;

  let dataParams = {};
  // Un-comment below to include a component specific data
  //if (typeof p.type === 'undefined') { p.type = 'default'; }
  //include(`./_${Block}-data`);
  //dataParams = getTextListData(p.type);

  let defaults = {
    modifier: '',
    text: 'Default text here',
    //href: '',
  };

  const p = util.init()(util, params, defaults, dataParams);
%>
<!-- <%=Block%> -->
<div class="<%=Block%><%-util.setModifier(Block, p.modifier);%>"<%#util.printAttr('href', p.href);%>>
</div>
<!-- /<%=Block%> -->
