<%
// input-textarea/_input-textarea.ejs
// A main HTML file of "input-textarea" component
//
  const Block = 'input-textarea';
  const EjsRoot = '../../';
  if (typeof inputTextareaParams === 'undefined') { inputTextareaParams = {}; }
  const params = inputTextareaParams;

  let dataParams = {};
  // Un-comment below to include a component specific data
  //if (typeof p.type === 'undefined') { p.type = 'default'; }
  //include(`./_${Block}-data`);
  //dataParams = getInputTextareaData(p.type);

  let defaults = {
    modifier: '',
    text: 'Default text here',
    //href: '',
  };

  const p = util.init()(util, params, defaults, dataParams);
%>
<!-- <%=Block%> -->
<div class="<%=Block%><%-util.setModifier(Block, p.modifier);%>"<%#util.printAttr('href', p.href);%>>
</div>
<!-- /<%=Block%> -->
