<%
// icon/_icon.ejs
// A main HTML file of "icon" component
//
  const Block = 'icon';
  const EjsRoot = '../../';
  if (typeof iconParams === 'undefined') { iconParams = {}; }
  const params = iconParams;

  let dataParams = {};
  // Un-comment below to include a component specific data
  //if (typeof params.type === 'undefined') { params.type = 'default'; }
  //include(`./_${Block}-data`);
  //dataParams = getIconData(params.type);

  let defaults = {
    modifier: '',
    text: 'Default text here',
    //href: '',
  };

  const p = util.init()(util, params, defaults, dataParams);
%>
<!-- <%=Block%> -->
<div class="<%=Block%><%-util.setModifier(Block, p.modifier);%>"<%#util.printAttr('href', p.href);%>>
</div>
<!-- /<%=Block%> -->
