// icon/_icon.scss
.icon {
  $this: &;

  $size-sp: 18px;

  display: inline-block;
  width: $size-sp;
  height: $size-sp;

  // カラーバリエーション展開
  $colors:
    ('', $color-gray),
  ;

  @mixin apply-color($color-bg) {
    fill: $color-bg;
  }

  @each $modifier, $color-bg in $colors {

    @if ($modifier == '') {
      @include apply-color($color-orange);

    } @else {
      &--#{$modifier} {
        @include apply-color($color-bg);
      }
    }
  }
}
