@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic"),
       local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

// Unicode characters for a content value
$character-triangle-up: '\25B2'; // '▲'
$character-double-right-arrow: '\00BB'; // '≫'
$character-slash: '\002F'; // '/'
$character-cross: '\00D7';
